@charset "utf-8";
/* CSS Document */

body {
	margin: auto;
	
}
/*header */

.header {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid black;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	height: 90px;
	background-color: white;
}

h3 {
	font-size: 25px;
}

.logo {
	padding-left: 40px;
	flex-grow: 1;
	position: relative;
	min-width: 130px;
	max-width: 100%;
}

.logo span {
	display: inline-block;
	color: MediumAquamarine;
	position: relative;
	top: -25px;
	left: 15px;
}

.logo img {
		display: inline-block;
}

/*navigation*/

ul {
	list-style-type: none;
	padding-right: 40px;
}

li {
	display: inline-block;
	padding: 0px 15px;
}

.nav a {
	color: black;
}

/* main content area*/

.column {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1280px;
	margin: auto;
	padding: 150px; 
}

.column .large {
	width: 630px;
}

.column .medium {
	width: 300px;
}

.column p {
	padding-bottom: 30px;
	font-family: Georgia;
  font-size: 17px;
  color: black;
}

.medium p {
	padding-top: 10px;
}

.column .small {
	display: flex;
	flex-direction: column;
	width: 240px;
}

.byline-main {
	 display: flex;
	 background: url("resources/img/img-story-main.png");
	 height: 300px;
	 align-items: center;
	}

.byline-1 {
	display: flex;
	flex-wrap: wrap;
	background: url("resources/img/img-story-2.png");
	height: 300px;
	align-items: center;
}

.byline-2 {
	display: flex;
	flex-wrap: wrap;
	background: url("resources/img/img-story-3.png");
	height: 300px;
	align-items: center;
}

.byline-middle {
	display: flex;
	flex-wrap: wrap;
	background: url("resources/img/img-story-1.png");
	height: 300px;
	align-items: center;
}

.small h3 {
	font-size: 16px;
  font-weight: bold;
	text-align: center;
	padding: 20px;
}

h1 {
	font-family: Georgia;
  font-weight: bold;
	font-size: 30px;
	color: white;
	text-align: center;
}

.byline-main h1 {
	font-size: 40px;
	text-align: left;
	padding-left: 20px;
}

.colwrap {
	display: flex;
	flex-direction: column;
	width: 299px;
}

.rowwrap {
	display: flex;
	justify-content: space-between;
}

.small span {
	display: block;
	background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
	padding: 11px;
	border-bottom: 1px solid black;
}

/* Footer */
.footer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 320px;
	width: 100%;
	align-items: center;
	background-color: MediumAquamarine;
  font-family: Verdana;
  font-size: 12px;
}

.topfooter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerlogo {
	font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}